* {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.bg-purple {
  background-color: #7b25eb60;
}

.h-100 {
  height: 100vh !important;
}

.bg-home-1 {
  background: url('/assets/bg-3.png') no-repeat center center/cover;
  width: 100vw;
}
.bg-home-2 {
  background: url('/assets/bg-2.png') no-repeat center center/cover;
  width: 100vw;
}
.bg-home-3 {
  background: url('/assets/bg-4.svg') no-repeat center center/cover;
  width: 100vw;
}
.bg-home-4 {
  background: url('/assets/bg-5.png') no-repeat center center/cover;
  width: 100vw;
}

.fixed-nav {
  background-color: #efe2ff3d;
}
.name-box {
  padding: 0.5rem 1rem;
  user-select: none;
}

.text-title-name {
  background-color: #7b25eb;
  user-select: none;
}

.hr {
  background-color: rgba(126, 126, 126, 0.534);
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

.img-logo {
  transform: scale(1.5);
}



/* Media  */

@media (max-width: 575px) { 
  .title-text {
    font-size: 3rem !important;
  }
  .sub-text {
    font-size: 0.6rem !important;
    background-color: aquamarine;
  }
  .images-icon {
    height: 24px !important;
    width: 24px !important;
  }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
 
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .title-text {
    font-size: 5rem !important;
  }
  .sub-text {
    font-size: 2rem !important;
    background-color: #7b25eb;
  }
  .images-icon {
    height: 24px !important;
    width: 24px !important;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }